* {
    font-family: 'Poppins', sans-serif;
    
}


/*  ESTILOS MENU DE LA BARRA VERTICAL */
.sidebar {
    height: 100vh;
    width: 70px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #343a40;
    padding-top: 20px;
    transition: width 0.3s;
    overflow-x: hidden;
    z-index: 1000; 
    transition: width 0.3s ease; 
    border-radius: 0px 20px 20px 0px;
}

.sidebar.expanded  {
    width: 250px; 
    
}

.sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #ddd;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #1842b4;
    background-color: #ffffff;
}

.sidebar a i {
    margin-right: 10px;
}
.sidebar:not(.expanded) a span {
    display: none;
}


/* ESTILO DE LOS SUBMENU */

.submenu {
    display: none;
    background-color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.submenu a {
    padding: 10px 20px;
    font-size: 16px;
    color: #ccc;
}

.submenu a:hover {
    color: #56a6db;
    background-color: #ffffff;
}

.menu-item:hover .submenu {
    display: block;
}
.menu-btn {
    font-size: 24px;
    color: #ddd;
    cursor: pointer;
    display: block;
    margin: 10px 20px;
}

.sidebar:not(.expanded) .menu-btn {
    margin: 10px auto;
}

.v-a{
background-color: #000000;


}
#xd{
display: flex;
justify-content: center;
}
#icono_panel_logo{
  width: 50px;
 margin-bottom: 9px;
 margin-top: 9px;
    
}

   /* Estilo MENU DE PERFIL */
   #bhoriz {
    position: relative;
    left: 70px; 
    width: 82%; 
    height: 55px;
    top: -7px;
   border-radius: 20px 20px 20px 20px;
    background-color: #000000; 
    display: flex; 
    align-items: center; 
    justify-content: flex-end;
    padding: 0 20px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.438); 
    margin: 20px auto; 
    
}
#foto img {
    width: 50px;
    height: 50px;
    object-fit: cover; 
    border-radius: 50%; 
    border: 2px solid #56a6db; 
}
#foto2 img {
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
   left: -15rem;
  
}
#nombre h5 {
    margin-top: 15px;
    font-size: 17px;
    color: #56a6db; 
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.perfil {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: -9px;
    margin-top: -10px;
    cursor: pointer;
}

.perfil:hover #nombre h5 {
    color: #ffffff; 
}

.perfil:hover #foto img {
    border-color: #ffffff; 
}


/* estilos a las tablas */
.dataTables_filter label {
    margin-bottom: 10px;
 }
 #tusu_wrapper {
     width: 100%;
     overflow-x: auto;
 }
 table.dataTable tbody td {
     white-space: normal; 
     word-wrap: break-word; 
 }
 #contenedorusu{
      padding-left: 100px;
 }
 #btnActualizar {
     margin-left: 10px; 
 }
 #tablausu{
     background-color: #0c0c24;
     color: #ffffff;
 }